/*PARA PAGINA login.html*/

*{
    box-sizing: border-box;
}
.divImage{
    background-image: url("../images/icon_login.jpg");
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
}
input[type="submit"]{
    border-radius: 25px;
    background-color: teal;
    color: white;
    font-weight: bold;
}
input[type="submit"]:hover{
    transform: scale(1.05);
    cursor: pointer;
}
#parrafoLogin{
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    margin: auto;
    margin-top: 20px;
}
.formLogin{
    padding:5%;
    width: 90%;
    height: auto;
}
.login{
    text-align: center;
    width: 300px;
    height: 350px;
    padding-top: 10px;
    margin: auto;
    margin-top: 7%;
}
.shadow{
    box-shadow: 1px 1px 20px 2px #ccc;

}
input:focus{
    border: 1px solid teal;
}
.formLogin input{

    padding: 5%;
    margin:5%;
}
input{
    border: 1px solid #ccc;
    border-radius: 10px;
    display: block;
    width: 100%;   
}


/*PARA PAGINA registro.html*/

/*css para registro*/
#divRegistro{

    text-align: center;
    margin: auto;
    margin-top: 7%;
    width: 350px;
    height: 350px;
    padding-top: 10px;
}
.formRegistro{
    width: 90%;
    margin: auto;
}
.formRegistro input{
    padding: 3%;
    margin:5% 0;
}
.formRegistro input[type="radio"]{

    width: auto;
    display: inline-block;
}

/*#divRegistro > p{
    font-weight: bold;
    font-size: 20px;
}*/
#divRegistro label{
    padding-right: 20px;
}


#parrafoLogin a {
    text-decoration: none;

}

#parrafoLogin a:hover{
    text-decoration: underline;
}


/*PARA PAGINA perfil.html*/

body{
    background: #f9f9f9;
}

.divUsuario{
    width: 65%;
    height: 180px;
    padding-top: 10px;
    margin: auto;
    background: #f0f3f9;
    /*padding-left: 15px;*/
    text-align: right; 
    /*position: relative*/

}


#imagenUsuario{
    background-image: url("../images/user.png");
    height: 150px;
    width: 150px;
    margin-top: 5px;
    margin-left: 15px;
    /*display: inline-block;*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px #ccc;
    position: relative;

}

#datosUsuario{
    width: 40%;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
    /*border: 2px solid activecaption;*/
    padding: 5px 5px;
    font-size: 18px;
    text-align: left;
}

.ubicarDivsUsuario{
    display: inline-block;
    /*position: absolute;*/
    float: left;
}

.ubicarPuntosPosts{
    width: 150px;
    height: 65px;
    /*border: 1.5px solid teal;*/
    padding: 10px;
    /*text-align: center;*/
    display: block;
    /*    box-shadow: 1px 1px 10px 1px #ccc;*/
    font-size: 18px;
    background: #A2D2C3;
    float: right;   
        
}

#puntosUsuario{
    margin-bottom: 20px;
}
#divPuntosPosts{
    width: 150px;
    height: 150px;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    /*position: absolute;*/
}

#divEntradasUsuario{
    width: 95%;
    margin: auto;
    text-align: center;
    /*height: 30px;*/
}

/*#divEntradasUsuario > div{
    background-image: url("../images/user.png");
    width: 30%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    box-shadow: 1px 1px 20px 2px #ccc;
    display: inline-block;
    margin-top: 30px;
}   */




#post1{
    border: 1.5px solid teal;
    margin-top: 30px;
    width: 30%; 
    text-align: center;
    /*background: #f0f3f9;*/
}

#post1 > div{
    display: block;
    width: 95%;
    /*border: 1px solid #000;*/
    margin: auto;
}

.image{ 
    position: relative; 
    width: 95%;
    background-image: url("../images/user.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    /*border: 1px solid #000;*/
    height: 250px;
}
h2{ 
    position: absolute; 
    top: 60%; 
    left: 0; 
    width: 100%; 
}
h2 span{ 
    color: white; 
    font: bold 20px Helvetica, Sans-Serif;  
    /*    background: rgb(0, 0, 0); */
    background: rgba(0, 0, 0, 0.3); 
    padding: 1px; 
}

.divDatosPost{
    background: #f0f3f9;
    height: 30px;
    display: block;
    text-align: center; 
}
.divDatosPost > div{
    display: inline-block;
}

.datosPost{
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
}

.datosPost2{
    font-size: 14px; 
    margin-right: 15px;
}

#iconoCategoria{
    background-image: url("../images/iconoCategoria.png");
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}
#iconoFecha{
    background-image: url("../images/iconoFecha.png");
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}
#iconoPuntos{
    background-image: url("../images/iconoPuntaje.jpg");
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}
#iconoAutor{
    background-image: url("../images/iconoUsuario.png");
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}

#spanTitulo1{
    font-size: 25px;
    color: #1D5A72;
    font-weight: bold;
    margin-left: 10%;
    display: block;
    margin-top: 2%;
}

#spanTitulo2{
    font-size: 18px;
    color: #1D5A72;
    font-weight: bold;
    margin-left: 10%;
}

hr{
    height: 5px;
    background: teal;
    border-style: inset;
    margin-left: 10%;
    margin-right: 10%;
}