*{
    box-sizing: border-box;
    font-size: 16px;
} 
body{
    background-color: #e0e3e4;
}
#ul li{

    display: inline;
    text-align: center;
    background-color: #ccc;
}
#ul{

    height: 100%;
    margin: 0;
}
#ul li a{
    padding: 5px 10px;
    color: #666;
    background-color: #eeeeee;
}
.userName a{
    text-decoration: none;
}
.userName a:hover{
    text-decoration: underline;
}
a:visited{
    color: inherit;
}
#contenedorImagen > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#modal{
   
    width: 350px; 
    height: 190px; 
    box-shadow: 1px 1px 20px 2px #000;
    font-size: 20px; 
    font-weight: bold; 
    background-color: #ddd; 
    text-align: center;
    display: inline-block;
    position: absolute;
    top:50%;
    left: 38%;
    transform: translateY(-50%);

}
#modal > p{
    position: absolute;
    top: 20%;
    padding: 20px;
}
#contenedorModal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
      top:0; 
    left: 0;
    text-align: center;
    margin: auto;
    
}
.ocultar{
    display: none;
}
#contenedor-botones-modal{
    width: 100%;
    position: absolute;
    bottom: 10%;
}
.btnModal{
    border: none;
    background-color: #3580e4;
    color: #fff;
    padding: 15px;
    margin-left: 5px;
}
.btnModal:hover{
    background-color: #0760d5;
    cursor: pointer;
}
#contenedorImagen{
    height: 300px;
    margin-bottom: 5%;
}


#ul li a:hover{
    background-color: #0066ff;
    color: #fff;
    cursor: pointer;
}html,body{
    margin:0;
    height: 100%;
}

#all{
    width: 80%;
    height: 100%;
 margin: auto;
}

#sectionContenido{
    height: 100%;
}
#sideBar{

    margin-top: 20px; 
    width: 25%;
    height: 90%;
    float: left;

}
#tituloPost{
    font-size: 30px;
    font-weight: bold;
    margin: 5% 0; 
    

}
#contenido{
    padding: 20px;


}
#contenido #contenidoArticulo{
    line-height:20px;
    word-wrap: break-word;
}
.block{
    background-color: #fff;
}
#puntaje{
    height: 60px;
    margin: 10px 0;
    padding: 20px;


}
#ul li a,.cajaPuntos{
    color: #0066ff;
}
#puntajeBox{
    width: 75%;
    height: 70%;
    float: left;

}
.cajaPuntos{
    width: 25%;
    float: left;

}
.hacerVisible{

  animation-name: slidein;
  animation-duration: 0.3s;
  animation-direction: normal;
    animation-iteration-count: 1;

     display: block;
}

@-webkit-keyframes slidein{
      from {
    margin-bottom:100%;
   
  }
      
  to {
    margin-bottom:0%;
  }
}

@keyframes slidein{
      from {
    margin-left:100%;
    width:300%
  }
      
  to {
    margin-left:0%;
    width:100%;
  }
}
#comentarios{
    background: #fff;
    padding-top:15px;
}

#tituloComentario{
    margin: 10px 0;
    padding: 0 20px;

    color: #5a5d62;
    font-weight:bold;
    font-size: 20px;
}

.comentario{
    margin: 10px 0;
    padding: 5px;
}
.principal{
    margin-left:100px;
}
.respuesta:hover,.comentario:hover{
    background-color:  #f0f2f5 ;
}
.respuesta{
    padding: 5px;
    margin-right: 20px;
}

.autor{
   
    padding-bottom: 10px;

}
.autor,.userName{
     color: #1b68dc;
    font-weight: bold;
}


.userName {
   font-size: 25px;
   margin-bottom: 5px;
}
#info-usuario{
    height: 100px;
     padding:10px;
       background-color: #ffe;
           margin-bottom: 20px;

}
#tematica{
    padding: 10px;
    background-color: #cd9595;
    color: #eee;
    font-weight: bold;
}
.imagen{
    width: 10%;
    height: 1%;
    float: left;
}
.imagen-infoUsuario{
    width: 30%;
    height: 100%;
    float: left;
    margin-right: 10px;
}
.imagen img{
    width: 100%;
    height: 100%;
}
.imagen-infoUsuario img{
    width: 100%;
    height: 100%;
    
    object-fit: contain;

}
#correo{
     font-size: 13px;
    color: #aaa;
}
.datos-usuario .posts,.datos-usuario .puntos{
    display: inline-block;
    margin-top: 1%;
    margin-right: 5%;
    padding: 3px;
    text-align: center;
    background-color: #ffe;
}
.datos-usuario{
    width: 65%;
    height: 100%;
    float: left;
    
}
.textoPequenio{
    font-size: 10px;
    color: #aaa;
}
.post span{
    
}
#contenidoComentarios{
    height: 80%;  
    padding: 0 20px;

}


.contenidoComentario{
    width: 90%;
    float: left;
    padding: 0 10px;
}
.comentario,.respuesta{
    height: auto;
    overflow: hidden;
}
.mensaje,.respuesta{
    width: 100%;
    height: auto;
    word-wrap: break-word;
}
.boxContainer{
    margin-top: 20px;
    height: 20%;
    padding: 20px;
    background-color:   #faeedf;
}
.areaComentar{
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    font-size: 18px;
    border: 1px solid #ccc;
}
.areaComentar:focus{
    border-color:   #faa092  ;
}
.boxComentar{
    height: 150px;
    margin-bottom: 20px;

}
.btnComentar{
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 30px;
}
.btnComentar:hover{
    transform: scale(1.05);
    background-color:  #f98775;
    color: #fff;
    cursor: pointer;
}
#layout-derecha{
    padding-left:20px;
}
label{
    display: none;
    font-size: 20px;
    font-weight: bold;
    color: #5aa0aa;



}
.transition{
    -webkit-animation-name: fade;
    -moz-animation-name: fade;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
    display: block;
}
@-webkit-keyframes fade{
    from{opacity: 0}
    to{opacity: 1}
}

@keyframes fade{
    from {opacity: 0}
    to {opacity: 1}
}
